.Header
    max-width: 1200px
    margin: 0 auto
    padding: 1rem
    font-size: 2rem

    & > nav
        display: flex
        justify-content: center
        padding: 1rem 0

        & > ul
            display: flex
            justify-content: space-around
            align-items: center
            gap: 10rem

            & > li
                list-style: none

                & > a
                    text-decoration: none
                    color: $text-color
